[submodule "Phase 4 - Advanced Topics and Specialization/4. Autonomous Driving/tinygrad-source"]
	path = Phase 4 - Advanced Topics and Specialization/4. Autonomous Driving/tinygrad-source
	url = https://github.com/tinygrad/tinygrad
